<h1 class='header'>Gestione News</h1>
<div class='container-content'>
	<h4>Ultime news inserite</h4>
	<table class='table '>
		<thead>
			<tr>
				<th>Titolo</th>
				<th>Data</th>
				<th>Dimensione</th>
				<th>Preview</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='af in audiofiles track by $index'>
				<td>{{af.name}}</td>
				<td>{{af.date|date}}</td>
				<td>{{af.size|format_filesize}}</td>
				<td><audio controls>
						<source src="{{af.streamUrl| trustedAudioUrl}}" type="audio/mpeg">
					</audio></td>
				<td><a href ng-click='deleteFile(af.filename)' title='Elimina'> <i class="material-icons">delete</i></a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class='container-content'>
	<h4>Aggiungi una news</h4>
	<p>Crea una nuova news, inserisci il titolo e carica il file mp3</p>
	<div class='addNewsPanel'>
		<div class='addNewsPanelItem addNewsTitlePanel'>
			<h5>
				<a class="btn-floating disabled"><i class="wizard-icons">1</i></a> Inserisci il titolo
			</h5>
			<strong>Titolo della news </strong><input type='text' ng-model='newNews.title' placeholder='Titolo news...'>
		</div>
		<div class='addNewsPanelItem addNewsUploadFileArea'>
			<h5>
				<a class="btn-floating disabled"><i class="wizard-icons">2</i></a> Aggiungi il File mp3
			</h5>
			<div ng-if='!newNews.selectedFile'>
				<div ng-show='dropSupported'>
					<div ng-file-drop="onFileSelect($files)" class='upload-file-drop-area' ng-file-drag-over-class="upload-file-drop-area-hover" ng-show="dropSupported">
						<div>Rilascia il file da caricare</div>
						<div class='desc'>
							<span>Dimensione massima dei file supportata: </span><strong>{{maxFileSize|format_filesize}}</strong>
						</div>
						<div class='desc'>Supported file types: mp3</div>
						<div class='text-center'>
							<div ng-file-select="onFileSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" class="browse-button">
								<span>Sfoglia&hellip;</span>
							</div>
						</div>
					</div>
					<div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

				</div>
				<div ng-show='!dropSupported'>
					<div ng-file-select="onFileSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" class="upload-icon-selecticon-button">
						<span>Sfoglia&hellip;</span>
					</div>
				</div>
			</div>
			<div ng-if='newNews.selectedFile'>
				<strong>File selezionato</strong>
				<div class='new-file-info-panel'>
					<div>
						<strong>Nome file</strong> {{newNews.selectedFile.name}}
					</div>
					<div>
						<strong>Dimensione </strong> {{newNews.selectedFile.size|format_filesize}}
					</div>
					<div>
						<strong>Ultima modifica</strong> {{newNews.selectedFile.lastModified|date}}
					</div>
				</div>
				<a href class='btn  btn-verysmall' ng-click='clearFileSelection()'>Scegli un altro file</a>
			</div>
		</div>
		<div class='addNewsPanelItem addNewsUploadFilePreview'>
			<h5>
				<a class="btn-floating disabled"><i class="wizard-icons">3</i></a> Carica
			</h5>
			<p>Se &egrave; tutto corretto carica sul server</p>
			<div>
				<div class='addNewsPanelItem'>
					<a href class='btn' ng-click='uploadFile()'>Carica</a>
				</div>
			</div>
		</div>
	</div>
</div>
