<ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(0px);">
	<li class='main-logo'>
		<h3>Coto Voice RSS</h3> <small class='prototipe flow-text z-depth-1'>&lsaquo;prototipo&rsaquo;</small>
	</li>
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Gestione News</a>
				<div class="collapsible-body" style="display: block;">
					<ul>
						<li class='active'><a href="#/manage/newslist">Ultime News Inserite</a></li>
						<li><a href="#/manage/addnews">Aggiungi nuova News</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<!--  <li class="bold"><a href="themes.html" class="waves-effect waves-teal">Themes<span data-badge-caption="updated" class="new badge"></span></a></li>-->
</ul>